Q1

In [1]:
shopping = ["spam", "ham", "eggs", "ham"]

In [2]:
shopping[1]

'ham'

In [5]:
shopping[0:3]

['spam', 'ham', 'eggs']

In [6]:
shopping[-1]

'ham'

Q2

In [41]:
stops = ["Croy", "Cumbernauld", "Falkirk High", "Linlithgow", "Livingston", "Haymarket"]

In [42]:
stops.append("Edinburgh Waverly")
stops

['Croy',
 'Cumbernauld',
 'Falkirk High',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverly']

In [43]:
x = "Queen Street"

stops.insert(0,x)
print(stops)

['Queen Street', 'Croy', 'Cumbernauld', 'Falkirk High', 'Linlithgow', 'Livingston', 'Haymarket', 'Edinburgh Waverly']

In [44]:
stops.index("Croy")

1

In [45]:
x = "Polmont"

stops.insert(4, x)
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Polmont',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverly']

In [46]:
stops.remove("Haymarket")
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Polmont',
 'Linlithgow',
 'Livingston',
 'Edinburgh Waverly']

In [105]:
stops.clear()
stops

[]

Q3

In [9]:
person = {"name": "Steph", "age": 31, "Instructor" : True}

In [119]:
person.keys()

dict_keys(['name', 'age', 'Instructor'])

In [120]:
person.values()

dict_values(['Steph', 31, True])

In [121]:
person.items()

dict_items([('name', 'Steph'), ('age', 31), ('Instructor', True)])

In [10]:
person["name"]

'Steph'

In [76]:
person.update({"name": "Steph", "age": 31, "Instructor" : True, "email": "steph@codeclan.com"})
person

{'name': 'Steph', 'age': 31, 'Instructor': True, 'email': 'steph@codeclan.com'}

In [77]:
person

del person["Instructor"]
person

{'name': 'Steph', 'age': 31, 'email': 'steph@codeclan.com'}

Q4

In [24]:
numbers = [1, 6, 2, 2, 7, 1, 6, 13, 99, 7]

In [88]:
even_numbers = []

for number in numbers:
    if number %2 == 0:
        even_numbers.append(number)
        
print(even_numbers)

[6, 2, 2, 6]

In [25]:
largest = max(numbers) 
smallest = min(number)

print(largest-smallest)

TypeError: 'int' object is not iterable

In [126]:
for number in numbers:
    if number == [2, 2]:
        print(True)

Q5

In [128]:
def python(python_is_fun, python_is_weird): 
    if(python_is_fun = True and python_is_weird = True) or (python_is_fun = True or python_is_weird = True)
        print "Woo Python!"
    else:
        print "Python is not for me!"

SyntaxError: invalid syntax (<ipython-input-128-4cb29a127c9e>, line 2)

Q6

In [28]:
chickens = [
  { "name": "Margaret", "age": 2, "eggs": 0 },
  { "name": "Hetty", "age": 1, "eggs": 2 },
  { "name": "Henrietta", "age": 3, "eggs": 1 },
  { "name": "Audrey", "age": 2, "eggs": 0 },
  { "name": "Mabel", "age": 5, "eggs": 1 },
]

In [19]:
total_eggs = 0

for chicken in chickens:
    total_eggs += chicken["eggs"]
    chicken["eggs"] = 0 # eggs have been collected

print(f"{total_eggs} eggs collected")

4 eggs collected

In [31]:
def count_eggs(chickens):
    total_eggs = 0

    for birds in chickens:
        total_eggs += birds["eggs"]
        birds["eggs"] = 0 # eggs have been collected

    return f"{total_eggs} eggs collected"

print(count_eggs(chickens))

4 eggs collected